.notes {
    width: 15%;
    margin-right: 2%;
}

td,
th {
    
    cursor: all-scroll;
    background-color: #3e8e41;
    color: white;
}

th {
    border: 2px solid black;
    font-size: .8vw;
}

td {
    background-color: #3e8e41;
}

table {
    margin: 0;
    width: 100%;
}

tr.border,
td.border {
    border: 2px solid black;
    height: 20px;
}

.main-container {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
    text-align: center;
    /* width: 100%; */
    /* border: 1px solid black */
}

.container {
    width: 20%;
    margin-left: 2%;
}

.appt-container, .cart-container, .book-container{
    flex: 1;
    width: 100%;
    border: 5px solid #666;
    background-color: #666;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#appt tr[draggable="true"], #cart tr[draggable="true"],  #book tr[draggable="true"]{
    height: 50px;
    width: 20%;
}


.button {
    width: 15%;
    margin: 10px 0;
}

.c-button {
    /* display: inline-block; */
    padding: 15px 5%;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    margin-bottom: 20px;
}

.c-button:hover {
    background-color: #3e8e41
}

.c-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

input[type=text],
select,
textarea {
    width: 100%;
    /* padding: 12px; */
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 10%;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

label {
    margin: 0;
    display: inline-block;
    color: green;
    font-size: 1vh;
    font-weight: bold;
}

input[type=submit] {
    padding: 15px 10%;
    /* font-size: 24px; */
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float: right;
}

input[type=submit]:hover {
    background-color: #3e8e41;
}

input[type=submit]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}
