#pawsome , #pawfection {
  width: 100%;
  border: solid teal;
  border-radius: 10px;
  color: teal;
  padding: 15px;
  cursor: pointer;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
}

.modal-content {
    position: absolute;
    left: 0;
    right: 0;
    background-color: antiquewhite;
    vertical-align: middle;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    height: 30em;
    text-align: center;
    overflow: hidden;
    border-radius: 10px;
}

.modal-content p {
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    top: 40%;
    font-size: large;
}

.pawsomeClose,
.pawfectionClose{
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.pawsomeClose:hover,
.pawfectionClose:hover,
.pawsomeClose:focus,
.pawfectionClose:focus{
  color: black;
  text-decoration: none;
  cursor: pointer;
}
