.reviews-container {
    background-color: #476ce4;
    color: white;
    border-radius: 15px;
    margin: 20px auto;
    padding: 50px 80px;
    max-width: 768px;
    position: relative;
}

.fa-quote {
    color: rgba(255,255,255, 0.3);
    font-size: 28px;
    position: absolute;
    top: 30%;
}

.fa-quote-right {
    left: 40px;
}

.fa-quote-left {
    right: 40px;
}

.review {
    line-height: 28px;
    text-align: justify;
}

.user {
    display: flex;
    align-items: center;
    justify-content: center;
}

.user .user-image {
    border-radius: 50%;
    height: 75px;
    width: 75px;
    object-fit: cover;
}

.user .user-details {
    margin-left: 10px;
}

.progress-bar {
    background-color: #fff;
    height: 4px;
    width: 100%;
    animation: timer 10s linear infinite;
    transform-origin: left;
}

@keyframes timer {
    0% {
        transform: scaleX(0);
    }
}

@media(max-width: 768px) {
    .reviews-container {padding: 20px 30px;}
    .fa-quote {display: none;}
}