body {
    font-size: 25px;
}

.notes {
    margin-left: 50px;

}

td,
th {
    border: 2px solid black;
    cursor: all-scroll;
    background-color: #3e8e41;
    color: white;
}

td {
    background-color: #3e8e41;

}

table {
    margin: 0 auto;
}

tr.border,
td.border {
    border: 2px solid black;
    height: 20px;
}

.appt-container {
    flex: 1;
    border: 5px solid #666;
    height: auto;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #666;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.cart-container {
    border: 5px solid #666;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #666;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.book-container {
    border: 5px solid #666;
    width: auto;
    margin-top: 10px;
    margin-left: 10px;
    background-color: #666;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.main-container {
    display: flex;
    text-align: center;
}

#appt {
    width: 300px;
}

#appt tr[draggable="true"] {
    height: 50px;
}

#cart {
    width: 300px;
}

#cart tr[draggable="true"] {
    height: 50px;
}

#book {
    width: 300px;
}

#book tr[draggable="true"] {
    height: 50px;
}

.container {}




.c-button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    
}

.c-button:hover {
    background-color: #3e8e41
}

.c-button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.cart-button {
    padding-bottom: 20px;
}

.delete-button {}

.button {
    padding-top: 10px;
    padding-left: 20px;
}


input[type=text],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

input[type=email],
select,
textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 4px;
    resize: vertical;
}

label {
    padding: 12px 12px 12px 0;
    display: inline-block;
    color: green;
    font-weight: bold;
}



input[type=submit] {

    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: white;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    float: right;
    

}

input[type=submit]:hover {
    background-color: #3e8e41;
}

input[type=submit]:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}